*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    color: black;
}




li{
    list-style: none;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.navbar__logo{
    height: 40px;
    width: 80px;
}


.navbar{
    background-color: lightgray;
    padding: 1rem;
    color: black;
}



.estilo__iniciarsesion__registrarse{
    background-color: skyblue;
    border-radius: 5px;
    border: 1px solid black;
    
}


.estilo__iniciarsesion__registrarse:hover{
    background-color: lightskyblue;
}



.micambio{   
    justify-content: space-around;
    align-items: center;
}


@media (max-width:767px){
    .navbar-brand{
        display: none;
    }
}

span{
    color: deepskyblue;
}

#main{
    display: flex;
    margin: 0 auto;
    
}

.main__imagen{
    background-size: cover;
    width: 50%;
    height: auto;
}

.main__contenido{
    width: 50%;
    text-align: center;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}

@media (max-width:767px){
    #main{
        flex-direction: column;
        width: 100%;
        
    }
    .main__imagen{
        width: 100%;
    }
    .main__contenido{
        width: 100%;
        height: auto;
        font-size: 25px;
        
    }
}

.section-aprender{
    background-color: white;
    text-align: center;
    padding: 20px 0;
    
}



.section-aprender__contenedor{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}




.section-aprender__tema{
    background-color: burlywood;
    padding: 40px 25px;
    margin: 20px 0;
    border-radius: 10px;

}

.section-aprender__imagen{
    height: 100px;
    width: 150px;
}


.section-aprender__tema:hover{
    transform: scale(1.1);
    transition: all ease-in 0.5s;
}

@media (max-width:850px){
    .section-aprender__contenedor{
        flex-direction: column;
        
    }
}

.testimonios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 80px 40px;
    background-color: lightblue ;
}

.carousel{
    max-width: 800px;

    
}


.carousel-item{
    height: 100%;

}


.testimonios__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonio__imagen{
    height: 150px;
    width: 200px;
    margin: 20px;

}

.testimonio__texto{
    max-width: 70%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.testimonio__informacion{
    text-align: center;

}


.formulario__principal{
    background-color: white;
    padding: 40px 40px 80px 40px;
    gap: 20px;
}

.subtitulos{
    text-align: center;
    font-weight: bold;
}

.formulario__principal__seccion{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.formulario__principal__inputs{
    display: block;
    
}

.input{
    width: 100%;
}


@media (max-width:767px){
    .formulario__principal__seccion{
        flex-direction: column;
    }
    iframe{
        width: 300px;
        margin: 0 auto;        
    }
}


.contenedor__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
}

.footer__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

@media (max-width:767px){
    .contenedor__footer{
        flex-direction: column;
        padding: 24px;  
    }
    .footer__links{
        text-align: center;
        justify-content: center;
        align-items: center;

    }
}


.iniciarsesion__contenedor{
    display: flex;
    flex-direction: column ;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    gap: 20px;
    
}

.iniciarsesion__botones{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


.iniciarsesion__botones a{
    border: 1px solid black;
    text-align: center;
    padding: 5px 0;
}

.button__facebook{
    background-color: #3b5998;
}

.button__twitter{
    background-color: #00acee;
}

.button__google{
    background-color: #DB4437;
}

.iniciarsesion__contenedor form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.iniciarsesion__contenedor form input{
    padding: 0 0 0 10px;
}

.iniciarsesion__texto{
    font-size: 12px;
    text-align: center;
    color: darkmagenta;
}

@media (max-width:576px){
    .iniciarsesion__contenedor{
        width: 90%;
    }
}


.registrarse__contenedor{
    display: flex;
    width: 500px;
    flex-direction: column;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    gap: 20px;
}

.registrarse__contenedor form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registrarse__contenedor form input{
    padding: 0 0 0 10px;
}

.registrarse__texto{
    text-align: center;
    font-size: 10px;
}

@media (max-width:576px){
    .registrarse__contenedor{
        width: 90%;
    }
}

.bootcamp_subtitulo{
    text-align: center;
    height: 100px;
    padding: 25px 0;
    background-color: purple;
    color: white;
}


img{
    max-width: 100%;
}



.bootcamps__grid{
    display: grid;
    width: 80%;   
    margin: 20px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "primero segundo"
    "tercero cuarto"
    "quinto sexto";
    gap: 20px;
    text-align: center;
}


.bootcamp__uno{
    grid-area:primero;
    background-color: chocolate;
    padding: 10px;
 
}

.bootcamp__informacion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.estilo__bootcamp__imagen{
    transition: transform 0.5s ease;
}

.estilo__bootcamp__imagen:hover{
    transform: scale(0.8);
}

.bootcamp__dos{
    grid-area:segundo;
    background-color: aquamarine;
    padding: 10px;
    
}

.bootcamp__tres{
    grid-area:tercero;
    background-color: turquoise;
    padding: 10px;
}

.bootcamp__cuatro{
    grid-area:cuarto;
    background-color: mediumslateblue;
    padding: 10px;
}

.bootcamp__cinco{
    grid-area:quinto;
    background-color: lightcoral;
    padding: 10px;
}

.bootcamp__seis{
    grid-area:sexto;
    background-color: orange;
    padding: 10px;
}

.bootcamp__aplicar{
    background-color: gold;
    border: 2px solid black;
    
    
}

.bootcamp__aplicar:hover{
    background-color: yellowgreen;
    
}


@media (max-width:900px){
    .bootcamps__grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        grid-template-areas:
        "primero"
        "segundo"
        "tercero"
        "cuarto"
        "quinto"
        "sexto";
    }
}

.cursos__contenedor{
    display: grid;
    max-width: 95%;
    margin: 20px auto;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "metadatos metadatos metadatos"
    "opciones principal principal"
    "opciones principal principal";
    gap: 20px;
}


.curso__primero{
    border: 2px solid black;
    margin: 20px;
    display: flex;
    
}

.curso__primero__informacion{
    display: flex;
    flex-direction: column;
}

.cursos__contenedor__metadatos{
    grid-area: metadatos;
    text-align: center;
}

.cursos__contenedor__opciones{
    grid-area: opciones;
}

.cursos__contenedor__principal{
    grid-area: principal;
}


.cursos__contenedor__metadatos a{
    border: 1px solid black;
    background-color: bisque;
}

